配置虚拟主机的 httpd-vhosts.conf

<Virtualhost 123.57.132.42:80>
    DocumentRoot "/var/data/httpd/test/3"
    ServerName test1.tongshijia.com
    ErrorLog "/var/data/test_site/3/logs/error_log"
    CustomLog "/var/data/test_site/3/logs/access_log" common
    <Directory /var/data/httpd/test/3>
        Options FollowSymLinks
        DirectoryIndex index.php
        AllowOverride AuthConfig FileInfo
        AllowOverride All
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</Virtualhost>
<Virtualhost 123.57.132.42:80>
    DocumentRoot "/var/data/httpd/dev/3"
    ServerName dev1.tongshijia.com
    ErrorLog "/var/data/dev_site/3/logs/error_log"
    CustomLog "/var/data/dev_site/3/logs/access_log" common
    <Directory /var/data/httpd/dev/3>
        Options FollowSymLinks
        DirectoryIndex index.php
        AllowOverride AuthConfig FileInfo
        AllowOverride ALL
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</Virtualhost>
	
	